@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  background-image: url(/projeto-integrador-cp/img/pexels-incrediblerafa-4737484.jpg);
  width: 100%;
  min-width: 30%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 70px;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
  align-items: center;
  margin-left: 80px;
}

.nav-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 15px;
}

.nav-button:hover {
  background-color: #fff;
  color: #113156;
  transition: 0.4s ease;
}

.logo img {
  height: 35px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: #d5dbdb;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #fff;
  transition: 0.4s ease;
}

.upload-container {
  background-color: rgba(24, 24, 43, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
}

.upload-container > p {
  font-size: 14px;
  font-weight: normal;
  color: #e7ebeb;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #4781d8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #3363ac;
  transition: 0.4s ease;
}

#status{
  font-size: 14px;
  font-weight: normal;
  color:#e7ebeb;
}

button {
  background-color: #4781d8;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #3363ac;
  transition: 0.4s ease;
}

.status {
  margin-top: 10px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
  padding-top: 32px;
}

h1{
  font-size: 34px;
}

.text {
  color: #fff;
  font-weight: 400;
}

.text > h2 {
  font-weight: normal;
}

.contact-container{
  color:#fff;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 20px;
}

.contact-container > p{
  font-size: 18px;
  font-weight: normal;
  color:#e7ebeb;
}

.contact-info{
  display: flex;
  flex-direction: row;
  gap: 40px; /* Espaçamento entre os cards */
  justify-content: center; /* Centraliza os cards horizontalmente */
  flex-wrap: wrap; /* Permite que os cards quebrem linha se necessário */
  max-width: 900px; /* Limita a largura total para controlar a quebra de linha */
  margin: 0 auto; /* Centraliza o contêiner na página */
  padding-bottom: 40px;
}

.contact-card{
  background-color: rgba(24, 24, 43, 0.5);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  transition: transform 0.5s ease, box-shadow 0.5s ease; /* Adiciona transição suave */
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.contact-card > p {
  font-size: 14px;
  font-weight: normal;
  color: #e7ebeb;
  padding-bottom: 10px;
}

.contact-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.botao-link{
  background-color: #4781d8;
  color: #fff;
  font-weight:bold;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.botao-link:hover {
  background-color: #3363ac;
  transition: 0.4s ease;
}

footer {
  background-color: rgba(255, 255, 255, 0.055);
  color: #d5dbdb;
  text-align: center;
  padding: 3px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}

